:root {
  --preview-font-family: "Plus Jakarta Sans", sans-serif;
}
// media queries
@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

// webkit scrollbar mixins
@mixin webkit {
  &::-webkit-scrollbar {
    display: block;
  }
  -ms-overflow-style: block; /* IE and Edge */
  scrollbar-width: block; /* Firefox */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: var(--purple);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--purple);
  }
}
@mixin webkitlarge {
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
  }

  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: var(--purple);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--purple);
  }
}

@mixin webkitnone {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@mixin box-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
@mixin medium-radius {
  border-radius: 8px;
}
