// Colors

:root {
  --purple: #ad1fea;
  --blue: #4661e6;
  --gray-light: #f2f4ff;
  --gray-lighter: #f7f8fd;
  --text-dark: #3a4374;
  --text-light: #647196;
  --white: #ffffff;
  --salmon: #f49f85;
  --sky-blue: #62bcfa;
  --bg-purple: #373f68;
  --white: #ffffff;
}
