.empty_state {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: calc(100dvh - 90px);
  border-radius: 8px;
}

.container {
  text-align: center;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.add_feedback_btn {
  background-color: #6c3483;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
